<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Alunos</title>
</head>
<body>
    <header>
        <h1>Listagem de alunos</h1>
      
        </header>
    <main>
        <section>
            <% if(alunos.length>0) { %>
                <table border="1"> 
                        <tr>
                            <th>Matricula</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Data de Nascimento</th>
                            <th>Turma</th>
                            <th>Telefone</th>
                            <th>Sexo</th>
                            <th colspan="2">Ações</th>
                        </tr>
                  <%  alunos.forEach(a1=>{  %>
                        <tr>
                            <td> <%= a1.MATRICULA %> </td>
                            <td> <%= a1.NOME %> </td>
                            <td> <%= a1.EMAIL %> </td>
                            <td> <%= a1.DATA_NASCIMENTO %> </td>
                            <td> <%= a1.TURMA %> </td>
                            <td> <%= a1.FONE %> </td>
                            <td> <%= a1.SEXO %> </td>
                            <td><a href="/alunos/editarAluno/<%= a1.MATRICULA %>">Editar</a></td>
                            <td><a href="">Remover</a></td>
                        </tr>

                    <% }) %>
                </table>
              <% } else { %>
                    <p>Nenhum registro no Banco de Dados!</p>  
                <% } %>
        </section>
    </main>
</body>
</html>